@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10%;
    border: 1px solid rgba(0, 0, 0, 0.603);
}

.logo{
    cursor: pointer;
}

.promotion{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:1500px;
    cursor: pointer;
}

.nav_links{
    list-style: none;
    font-weight: bolder ;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0;
}

.nav_links li a:hover{
    color: darkkhaki;
}

.user {
    padding : 9px 25px;
    color:black;
    background-color: grey;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.user:hover{
    color:white;
    background-color: black;
}

.wrapper{
    max-height: 300px;
    border: 0px solid whitesmoke;
    display:flex;
    justify-content: center;
    overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper .item{
    min-width: 260px;
    height: 260px;
    line-height: 210px;
    text-align: center;
    background-color: whitesmoke;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 25px;
}

.logo-btn{
  background: white;
  color:white;
  border:none;
  cursor: pointer;
}

button{
    background: white;
    color:white;
    border:none;
}

.search-bar{
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    padding-right: 100px;
    display: flex;
    align-items: right;
    justify-content: right;
}

.search-bar h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    flex:1;
    outline:none;
    padding: 1px 150px;
}

.bar{
    width: 210px;
    height: 40px;
    display: flex;
    align-items:center ;
    border: 1px solid rgba(0, 0, 0, 0.603);
    border-radius: 30px;
    padding: 10px, 20px;
}
.bar input{
    background:transparent;
    flex:1;
    border:0;
    outline:none;
    padding: 24px 20px;
}
.nav_catalog{
    position:absolute;
    top: 200px;
    left: 240px;
    z-index: 999;
    width: 1070px;
    padding: 10px;
    background: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.603); ;

}
.catalog{
    padding-top: 20px;
    display: flex;
    list-style: none;
    font-weight: bolder ;
}

.catalog li {
    display: inline-block;
    padding: 0px 60px;
}

.catalog a {
    font-size: 20px;
    transition: all 0.3s ease 0;
}

.catalog li a:hover{
    color: rgb(226, 204, 0);
}

.register-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  
  label {
    font-family: "Montserrat", sans-serif;
    display: block;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input[type="submit"] {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 10px;
    background-color: darkkhaki;
    color: white;
    border: none;
    cursor: pointer;
  }

    
  input[type="submit"]:hover {
    color:white;
    background-color: darkgreen;
  }

  .register-container a:hover{
    color: darkkhaki;
  }